// AloveOfThunder

@font-face {
    font-family: 'AloveOfThunder';
    src: local(''), url('../assets/fonts/AloveOfThunder/a-love-of-thunder.ttf') format('truetype');
}

// DaisyWheel

@font-face {
    font-family: 'DaisyWheel';
    src: local(''), url('../assets/fonts/DaisyWheel/daisywhl.otf') format('opentype');
}

// Protipo

@font-face {
    font-weight: 800;
    font-family: 'Protipo';
    font-style: normal;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Extrabold.otf') format('opentype');
}

@font-face {
    font-weight: 800;
    font-family: 'Protipo';
    font-style: italic;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Extrabold-Italic.otf') format('opentype');
}

@font-face {
    font-weight: 700;
    font-family: 'Protipo';
    font-style: normal;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Bold.otf') format('opentype');
}

@font-face {
    font-weight: 700;
    font-family: 'Protipo';
    font-style: italic;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Bold-Italic.otf') format('opentype');
}

@font-face {
    font-weight: 600;
    font-family: 'Protipo';
    font-style: normal;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Semibold.otf') format('opentype');
}

@font-face {
    font-weight: 600;
    font-family: 'Protipo';
    font-style: italic;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Semibold-Italic.otf') format('opentype');
}

@font-face {
    font-weight: 500;
    font-family: 'Protipo';
    font-style: normal;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Medium.otf') format('opentype');
}

@font-face {
    font-weight: 500;
    font-family: 'Protipo';
    font-style: italic;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Medium-Italic.otf') format('opentype');
}

@font-face {
    font-weight: 400;
    font-family: 'Protipo';
    font-style: normal;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Regular.otf') format('opentype');
}

@font-face {
    font-weight: 400;
    font-family: 'Protipo';
    font-style: italic;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Regular-Italic.otf') format('opentype');
}

@font-face {
    font-weight: 300;
    font-family: 'Protipo';
    font-style: normal;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Light.otf') format('opentype');
}

@font-face {
    font-weight: 300;
    font-family: 'Protipo';
    font-style: italic;
    src: local(''), url('../assets/fonts/Protipo/Protipo-Light-Italic.otf') format('opentype');
}
