@import 'variables';
@import 'bootstrap/scss/_functions';

// nav
$nav-tabs-border-width: 0;
$nav-link-padding-y: 0.8rem;
$nav-link-padding-x: 4rem;
$card-bg: #e4e6eb;

.dark {
    /* redefine theme colors for dark theme */
    // $primary: #012345;
    $secondary: #111111;
    $success: #222222;
    $dark: #000;
    $body-color: #eeeeee;
    $body-bg: #171a22;
    $navbar-light-color: #9cbccb;
    $navbar-light-hover-color: #5a6d7a;
    $navbar-light-active-color: #5a6d7a;
    $input-group-addon-color: #0c0e14;
    $input-group-addon-bg: #5c7a88;
    $input-bg: rgba(156, 188, 203, 0.2);
    $input-border-color: $body-bg;
    // nav
    $nav-link-color: #5c7a88;
    $nav-tabs-link-active-bg: #353840;
    $nav-tabs-link-active-color: none;
    $nav-tabs-link-active-color: #fff;
    $nav-link-hover-color: #99a3a8;
    // card
    $card-bg: #252d3e;

    // modal
    $modal-content-color: #eeeeee;
    $modal-content-bg: #252d3e;

    $theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'danger': $danger,
        'info': $indigo,
        'dark': $dark,
        'light': $light,
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};

    @import 'bootstrap';
}
