.banner {
    background: linear-gradient(180deg, rgba(44, 60, 77, 0.3) 0%, rgba(179, 42, 249, 0.3) 100%);
    background-position: right 3rem top;
    background-blend-mode: multiply;
    font-family: 'Chainprinter';
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
    width: 100%;

    .bannerText {
        color: #fff;
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
    }
    .bannerButtons {
        line-height: 1.5;
        text-align: center;
        text-decoration: none;

        a:first-of-type {
            margin-right: 2rem;
        }
    }
    .buttonExplore {
        background: url(../../../assets/images/button-bg-brown.svg) no-repeat;
        background-size: 7.8rem auto;
        border: none;
        font-weight: bolder;
    }
}
